body {
  background: rgb(195, 171, 255);
font-family: 'Gloria Hallelujah', cursive;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.btn {
  margin-top: 2%;
}

.messagesArea {
  background: url('https://pbs.twimg.com/profile_images/586642008409776128/XbxkHr7o.jpg');
  background-size: contain;
  background-repeat: repeat;

}

.messageBubble {
  border-radius: 10px;
  padding: 1%;
  background: rgba(149, 184, 255, 0.5);
  color: white;
}

.title {
  text-align: center;
  color: white;
  background: rgb(195, 171, 255);
}

.inputfield {
  color: black
}

img {
  width: 100%;
}

@media only screen and (max-device-width: 700px){
  blockquote, body {
    font-size: 50px !important;
  }
  .title>h1{
    font-size: 70px !important;
  }
  .title>h3, .btn {
    font-size: 50px !important;
  }
  .title>label {
    font-size: 40px !important;
  }
  blockquote>div {
    font-size: 20px !important;
  }
}
